{% load va_explorer_tags %}

<table class="table table-sm">
  <thead>
    <tr>
      <th><a href="?{% sort_url 'id' direction='-' %}">ID</a></th>
      <th><a href="?{% sort_url 'enumerator' direction='-' %}">Enumerator</a></th>
      <th><a href="?{% sort_url 'province' direction='-' %}">Province</a></th>
      <th><a href="?{% sort_url 'district' direction='-' %}">District</a></th>
      <th><a href="?{% sort_url 'ward' direction='-' %}">Ward</a></th>
      <th><a href="?{% sort_url 'DE_03' direction='-' %}">Deceased Name</a></th>
      <th><a href="?{% sort_url 'DE_06' direction='-' %}">Date of Death</a></th>      
      <th></th>
      {% if va_data_cleanup and perms.va_data_cleanup.download %}
        <th>Download</th>
      {% endif %}
      {% if va_data_cleanup and perms.va_data_management.delete_death %}
        <th>Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if object_list|length != 0 %}
      {% for o in object_list %}
        <tr>
          <td>{{ o.id }}</td>
          <td>{{ o.enumerator|default:"Not Listed" }}</td>
          <td>{{ o.province|default:"-" }}</td>
          <td>{{ o.district|default:"-" }}</td>
          <td>{{ o.ward|default:"-" }}</td>
          <td>{{ o.DE_03|default:"Unknown" }}</td>
          <td>{{ o.DE_06|default:"-" }}</td>         
          <td><a class="btn btn-primary" href="{% url 'va_data_management:death_detail' id=o.id %}">View</a></td>
          {% if va_data_cleanup and perms.va_data_cleanup.download %}
            <td>
              <a class="btn btn-primary" href="{% url 'data_cleanup:death_download' o.id %}">
                <i class="fas fa-download"></i>
              </a>
            </td>
          {% endif %}
          {% if va_data_cleanup and perms.va_data_management.delete_death %}
            <td>
              <a class="btn btn-danger" href="{% url 'va_data_management:death_delete' o.id %}">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="10">There are no results.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
